<header class="header">
    <div class="container header-container">

        <!-- burger -->
        <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span class="burger__line"></span>
            <span class="burger__line"></span>
            <span class="burger__line"></span>
        </button>

        <a href="#" class="logo-icon">
            <img loading="lazy" src="../img/svg/icon.svg" class="image logo" width="" height="" alt="">
        </a>
        <nav class="header-navigation" data-menu>
            <ul class="header__nav ">
                <li class="header__nav-item"><a href="#" class="header__nav-item-link">О компании</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-item-link">Каталог</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-item-link">Отзывы</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-item-link">Делимся опытом</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-item-link">Контакты</a></li>
            </ul>
        </nav>
        <a href="tel:+73833120767" class="header__phone" id="phone">+7 383 312-07-67</a>
    </div>
</header>
