<div class="container">
    <section class="subcategory">

        <!-- filter -->
        <div class="container subcategory__filter">
            <h2>Фильтр</h2>

            <ul class="subcategory__filter-list">
                <!-- Стерильный -->
                <li class="subcategory__filter-list-item">
                    <h4>Стерильный</h4>
                    <label class="block">
                        <input class="checkbox" type="checkbox">
                        <span class="fakeCheckbox"></span>
                        <span class="text">Да</span>
                    </label>
                    <label class="block">
                        <input class="checkbox" type="checkbox">
                        <span class="fakeCheckbox"></span>
                        <span class="text">Нет</span>
                    </label>
                </li>

                <!-- Объем -->
                <li class="subcategory__filter-list-item">
                    <h4>Объем</h4>
                    <label class="block">
                        <input class="checkbox" type="checkbox">
                        <span class="fakeCheckbox"></span>
                        <span class="text">0,1-20 мкл</span>
                    </label>
                    <label class="block">
                        <input class="checkbox" type="checkbox">
                        <span class="fakeCheckbox"></span>
                        <span class="text">0,5-10 мкл</span>
                    </label>
                    <label class="block">
                        <input class="checkbox" type="checkbox">
                        <span class="fakeCheckbox"></span>
                        <span class="text">0,5-100 мкл</span>
                    </label>
                    <label class="block">
                        <input class="checkbox" type="checkbox">
                        <span class="fakeCheckbox"></span>
                        <span class="text">0,5-200 мкл</span>
                    </label>
                    <label class="block">
                        <input class="checkbox" type="checkbox">
                        <span class="fakeCheckbox"></span>
                        <span class="text">100-1000 мкл</span>
                    </label>
                </li>

                <!-- Фильтр -->
                <li class="subcategory__filter-list-item">
                    <h4>Фильтр</h4>
                    <label class="block">
                        <input class="checkbox" type="checkbox">
                        <span class="fakeCheckbox"></span>
                        <span class="text">Да</span>
                    </label>
                    <label class="block">
                        <input class="checkbox" type="checkbox">
                        <span class="fakeCheckbox"></span>
                        <span class="text">Нет</span>
                    </label>
                </li>
            </ul>
        </div>

        <!-- products -->
        <div class="subcategory__products">
            <ul class="subcategory__products-list">
                <!-- product-item -->
                <li class="subcategory__products-list-item">
                    <img loading="lazy" src="./img/vial.jpg" class="image" width="
                    261px" height="244" alt="">
                    <h4 class="product-title">Наконечники с фильтром в штативе 0,5-200</h4>
                    <p class="product-desc">96 шт./упак., бесцветные, стерильные, с фильтром, в штативе.
                        Объем от 0,5 до 200 мкл.</p>
                    <p class="product-availability">Наличие: <span class="availability">Много</span></p>
                    <p class="product-price">от <span>1 450 p.</span> <span class="oldprice">1 450 p.</span>
                    </p>
                    <button class="product-btn form-btn">оставить заявку</button>
                </li>
                <!-- product-item -->
                <li class="subcategory__products-list-item">
                    <img loading="lazy" src="./img/vial.jpg" class="image" width="
                    261px" height="244" alt="">
                    <h4 class="product-title">Наконечники с фильтром в штативе 0,5-200</h4>
                    <p class="product-desc">96 шт./упак., бесцветные, стерильные, с фильтром, в штативе.
                        Объем от 0,5 до 200 мкл.</p>
                    <p class="product-availability">Наличие: <span class="availability">Много</span></p>
                    <p class="product-price">от <span>1 450 p.</span> <span class="oldprice">1 450 p.</span>
                    </p>
                    <button class="product-btn form-btn">оставить заявку</button>
                </li>
                <!-- product-item -->
                <li class="subcategory__products-list-item">
                    <img loading="lazy" src="./img/vial.jpg" class="image" width="
                    261px" height="244" alt="">
                    <h4 class="product-title">Наконечники с фильтром в штативе 0,5-200</h4>
                    <p class="product-desc">96 шт./упак., бесцветные, стерильные, с фильтром, в штативе.
                        Объем от 0,5 до 200 мкл.</p>
                    <p class="product-availability">Наличие: <span class="availability">Много</span></p>
                    <p class="product-price">от <span>1 450 p.</span> <span class="oldprice">1 450 p.</span>
                    </p>
                    <button class="product-btn form-btn">оставить заявку</button>
                </li>
                <!-- product-item -->
                <li class="subcategory__products-list-item">
                    <img loading="lazy" src="./img/vial.jpg" class="image" width="
                    261px" height="244" alt="">
                    <h4 class="product-title">Наконечники с фильтром в штативе 0,5-200</h4>
                    <p class="product-desc">96 шт./упак., бесцветные, стерильные, с фильтром, в штативе.
                        Объем от 0,5 до 200 мкл.</p>
                    <p class="product-availability">Наличие: <span class="availability">Много</span></p>
                    <p class="product-price">от <span>1 450 p.</span> <span class="oldprice">1 450 p.</span>
                    </p>
                    <button class="product-btn form-btn">оставить заявку</button>
                </li>
            </ul>
        </div>
    </section>
</div>
